<div class="col-md-6">
  <div class="item">
    <div class="item-title">
      <%= link_to topic do %>
        <i class="fas fa-filter" aria-hidden="true"></i>
        <%= topic.name %>
      <% end %>
    </div>
    <hr>
    <div class="item-info" id="user-topic-<%= topic.id %>">
      <% if current_user.follow_topic? topic %>
        <%= render partial: "topics/unfollow", locals: {topic: topic} %>
      <% else %>
        <%= render partial: "topics/follow", locals: {topic: topic} %>
      <% end %>
    </div>
  </div>
</div>
