<div class="post-item">
  <div class="post-sidebar">
    <div class="user-ava">
      <% if post.user.avatar.url %>
        <%= image_tag post.user.avatar.url %>
      <% else %>
        <%= image_tag Settings.user.default_avatar %>
      <% end %>
    </div>
    <div class="post-like">
      <a href="#"><i class="fas fa-sort-up"></i></a>
      <p>123s</p>
      <a href="#"><i class="fas fa-sort-down"></i></a>
    </div>
  </div>
  <div class="post-info">
    <p class="post-header">
      <span class="user-name">
        <%= link_to post.user.name, post.user %>
        </span>
      <time>Asked: <strong><%= post.created_at %></strong></time>
      <span class="post-topic">
        In: <strong><%= link_to post.topic.name, post.topic %></strong>
      </span>
    </p>
    <p class="post-title">
      <%= link_to post.title, post %>
    </p>
    <div class="post-description">
      <%= post.content.html_safe %>
    </div>
    <div class="post-tags">
      <% post.tags.each do |tag| %>
        <p class="tag-item">
          <%= tag.name %>
        </p>
      <% end %>
    </div>
    <div class="post-footer">
      <div class="post-comments">
        6 comments
      </div>
      <div class="post-views">
        <%= post.view = post.view.nil? ? 0 : post.view %> views
      </div>
      <div id="saving-post-<%= post.id %>">
        <% if current_user.save_post? post %>
          <%= render partial: "posts/unsave", locals: {post: post} %>
        <% else %>
          <%= render partial: "posts/save", locals: {post: post} %>
        <% end %>
      </div>
      <div class="comment-post">
        <button type="button" class="btn btn-primary">
          <%= link_to "Anwser", post %>
        </button>
      </div>
    </div>
  </div>
</div>
<hr>
