<aside class="sidebar97239">
  <div class="status-part3821">
    <%= link_to new_post_path do %>
      <i class="fas fa-feather" aria-hidden="true">
        <%= t ".new_post" %>
      </i>
    <% end %>
  </div>
  <div class="status-part3821">
    <%= link_to "#" do %>
      <i class="fas fa-newspaper" aria-hidden="true">
        <%= t ".followers" %> <%= celebrities.size %>
      </i>
    <% end %>
    <%= link_to "#" do %>
      <i class="fas fa-users" aria-hidden="true">
        <%= t ".followings" %> <%= celebrities.size %>
      </i>
    <% end %>
  </div>
  <div class="recent-post3290">
    <h4><%= t ".recent_post" %></h4>
    <% posts.each do |post|%>
      <div class="post-details021">
        <div class="post-details021-user">
          <%= link_to post do %>
            <%= image_tag post.user.avatar.url %>
          <% end %>
          <%= link_to post do %>
            <h5><%= post.title %></h5>
          <% end %>
        </div>
        <p>Description here</p>
        <small><%= post.created_at %></small>
      </div>
      <hr>
    <% end %>
  </div>
  <div class="categori-part329">
    <h4><%= t ".lasted_activities" %></h4>
    <div class="logs-index">
      <%= render @logs %>
    </div>
    <%= link_to "Show all activities.", logs_path %>
  </div>
  <div class="highest-part302">
    <h4><%= t ".celebrities" %></h4>
    <% celebrities.each do |celeb|%>
      <div class="pints-wrapper">
        <div class="left-user3898">
          <%= link_to celeb do %>
            <% if celeb.avatar.present? %>
              <%= image_tag celeb.avatar.url %>
            <% else %>
              <%= image_tag Settings.user.default_avatar %>
            <% end %>
          <% end %>
        </div> <span class="points-details938">
          <%= link_to celeb do %>
            <h5><%= celeb.name %></h5>
          <% end %>
          <div class="follow-user-<%= celeb.id %>" >
            <% if current_user.following? celeb %>
              <%= render partial: "users/unfollow", locals: {user: celeb} %>
            <% else %>
              <%= render partial: "users/follow", locals: {user: celeb} %>
            <% end %>
          </div>
        </span>
      </div>
      <hr>
    <% end %>
  </div>
  <div class="categori-part329">
    <h4><%= t ".categories" %></h4>
    <ul>
      <% topics.each do |topic|%>
        <li>
          <%= link_to topic.name, topic %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="social-part2189 mb-4">
    <h4><%= t ".follow_us" %></h4>
    <li class="rss-one">
      <%= link_to "#", target: "_blank" do %>
        <strong>
          <span><%= t ".subscribe" %></span>
          <i class="fa fa-rss" aria-hidden="true"></i>
          <br>
          <small><%= t ".to_rss" %></small>
        </strong>
      <% end %>
    </li>
    <li class="facebook-two">
      <%= link_to "#", target: "_blank" do %>
        <strong>
          <span><%= t ".subscribe" %></span>
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <br>
          <small><%= t ".to_fb" %></small>
        </strong>
      <% end %>
    </li>
    <li class="twitter-three">
      <%= link_to "#", target: "_blank" do %>
        <strong>
          <span><%= t ".subscribe" %></span>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <br>
          <small><%= t ".to_wt" %></small>
        </strong>
      <% end %>
    </li>
    <li class="youtube-four">
      <%= link_to "#", target: "_blank" do %>
        <strong>
          <span><%= t ".subscribe" %></span>
          <i class="fa fa-youtube" aria-hidden="true"></i>
          <br>
          <small><%= t ".to_yt" %></small>
        </strong>
      <% end %>
    </li>
  </div>
</aside>
